body {
    /*
    background: url("../img/sky.jpg") center center no-repeat;
    background-size: cover;
    */
    background: #D0D0E0;
    color: black;
}

.header {
    /*
    background: #5385CA;
    */
    text-align: center;
}

.header H1 {
    font-size: 350%;
    font-style: italic;
    margin-bottom: 0px;
}

.header H2 {
    font-size: 150%;
    font-style: italic;
}

TABLE {
    border-collapse: separate;
    border-spacing: 10px;
}

TD {
    /* vertical-align: top; */
}

H2 A {
    color: red;
}

#images {
    position: relative;
}

#images IMG {
    position: absolute;
}

#images P {
/*
    color: #E010B8;
*/
    font-size: 140%;
    font-style: italic;
    position: absolute;
    text-align: left;
}

#images H2 {
    color: #E010B8;
    font-size: 180%;
    font-style: italic;
    position: absolute;
    text-align: center;
    width: 200px;
}
