#x_t_0 {top: 0px; left: 0px;}
#x_1 {top: 71px; left: -11px;}
#x_t_1 {top: 16.1719px; left: 349px;}
#x_2 {top: 113px; left: 333px;}
#x_t_2 {top: 30.7812px; left: 780px;}
#x_3 {top: 111px; left: 704px;}
#x_4 {top: 337px; left: 14px;}
#x_t_3 {top: 297.188px; left: 447px;}
#x_5 {top: 369px; left: 378px;}
#x_6 {top: 354px; left: 713px;}
#x_8 {top: 641px; left: 33px;}
#x_t_4 {top: 608.156px; left: 395px;}
#x_7 {top: 698px; left: 352px;}
#x_9 {top: 689px; left: 718px;}
#x_10 {top: 1000px; left: 27px;}
#x_11 {top: 1009px; left: 369px;}
#x_12 {top: 997px; left: 706px;}
