#x_t_0 {top: -23.6px; left: 22px;}
#x_1 {top: 69px; left: 11px;}
#x_t_1 {top: -12.0333px; left: 471px;}
#x_2 {top: 70px; left: 438px;}
#x_t_2 {top: -14.05px; left: 987px;}
#x_3 {top: 69px; left: 866px;}
#x_4 {top: 384px; left: 13px;}
#x_t_3 {top: 297.183px; left: 447px;}
#x_5 {top: 375px; left: 453px;}
#x_6 {top: 364px; left: 909px;}
#x_8 {top: 712px; left: 12px;}
#x_t_4 {top: 658.55px; left: 447px;}
#x_7 {top: 722px; left: 450px;}
#x_9 {top: 691px; left: 905px;}
#x_10 {top: 1150px; left: 24px;}
#x_11 {top: 1058px; left: 455px;}
#x_12 {top: 1030px; left: 915px;}
#x_13 {top: 1480px; left: 25px;}
#x_t_5 {top: 1303.97px; left: 598px;}
#x_14 {top: 1382px; left: 591px;}
#x_15 {top: 1350px; left: 1045px;}
#x_t_6 {top: 2171.77px; left: 362px;}
#x_16 {top: 2255px; left: 332px;}
#x_17 {top: 1780px; left: 28px;}
#x_18 {top: 1892px; left: 561px;}
#x_t_7 {top: 1752.78px; left: 1006px;}
#x_19 {top: 1830px; left: 1011px;}
#x_21 {top: 2538px; left: 19px;}
#x_t_8 {top: 2224.18px; left: 638px;}
#x_22 {top: 2115px; left: 18px;}
#x_23 {top: 2413px; left: 1006px;}
#x_24 {top: 2875px; left: 19px;}
#x_t_9 {top: 2324.78px; left: 1015px;}
#x_t_10 {top: 2612.78px; left: 599px;}
#x_25 {top: 2708px; left: 494px;}
#x_26 {top: 2849px; left: 917px;}
#x_27 {top: 2285px; left: 555px;}
#x_28 {top: 3217px; left: 909px;}
#x_29 {top: 3197px; left: 29px;}
#x_t_11 {top: 3132.18px; left: 582px;}
#x_30 {top: 3192px; left: 462px;}
#x_31 {top: 3548px; left: 930px;}
#x_t_12 {top: 3491.18px; left: 541px;}
#x_32 {top: 3556px; left: 448px;}
#x_33 {top: 4336px; left: 478px;}
#x_34 {top: 3617px; left: 35px;}
#x_35 {top: 4345px; left: 944px;}
#x_36 {top: 3889px; left: 1028px;}
#x_37 {top: 4672px; left: 1043px;}
#x_39 {top: 4044px; left: 34px;}
#x_40 {top: 3890px; left: 643px;}
#x_41 {top: 4671px; left: 304px;}
#x_42 {top: 4357px; left: 31px;}
#x_43 {top: 4665px; left: 28px;}
#x_t_13_1 {top: 5058.4px; left: 327px;}
#x_44 {top: 5163px; left: 287px;}
#x_45 {top: 5169px; left: 637px;}
#x_46 {top: 5079px; left: 31px;}
#x_t_14 {top: 4627.58px; left: 742px;}
#x_47 {top: 4710px; left: 725px;}
#x_t_15 {top: 5073.18px; left: 1161px;}
#x_48 {top: 5168px; left: 1028px;}
#x_t_16 {top: 5841.6px; left: 435px;}
#x_t_17 {top: 5740.78px; left: 506px;}
#x_50 {top: 5466px; left: 740px;}
#x_51 {top: 5486px; left: -5px;}
#x_52 {top: 5771px; left: -7px;}
#x_53 {top: 5478px; left: 416px;}
#x_54 {top: 6062px; left: -2px;}
#x_55 {top: 6075px; left: 928px;}
#x_56 {top: 5775px; left: 967px;}
#x_57 {top: 6385px; left: 935px;}
#x_58 {top: 6353px; left: 2px;}
#x_59 {top: 6085px; left: 473px;}
#x_60 {top: 6552px; left: 201px;}
#x_61 {top: 6383px; left: 627px;}
#x_62 {top: 6678px; left: 1028px;}
#x_63 {top: 6821px; left: 427px;}
#x_64 {top: 6819px; left: 11px;}
#x_t_18 {top: 6883.18px; left: 887px;}
#x_65 {top: 7116px; left: 470px;}
#x_66 {top: 7108px; left: 36px;}
#x_67 {top: 7114px; left: 919px;}
#x_68 {top: 7443px; left: 926px;}
#x_69 {top: 7402px; left: 25px;}
#x_70 {top: 7431px; left: 496px;}
#x_t_19 {top: 7742.78px; left: 658px;}
#x_71 {top: 7840px; left: 466px;}
#x_72 {top: 7747px; left: 9px;}
#x_73 {top: 8115px; left: 1040px;}
#x_74 {top: 7766px; left: 922px;}
#x_75 {top: 8147px; left: 12px;}
#x_t_20 {top: 8554.38px; left: 308px;}
#x_76 {top: 8517px; left: 7px;}
#x_78 {top: 8222px; left: 533px;}
#x_79 {top: 8924px; left: 9px;}
#x_80 {top: 8633px; left: 399px;}
#x_81 {top: 8603px; left: 920px;}
#x_t_21 {top: 8980.98px; left: 653px;}
#x_82 {top: 9193px; left: 636px;}
