#x_0 {top: -10.2px; left: 19px;}
#x_1 {top: 45px; left: 10px;}
#x_2 {top: 32px; left: 324px;}
#x_3 {top: 23.8px; left: 648px;}
#x_4 {top: -21px; left: 777px;}
#x_5 {top: 39px; left: 768px;}
#x_6 {top: 254.4px; left: 8px;}
#x_7 {top: 278px; left: 107px;}
#x_8 {top: 213.8px; left: 458px;}
#x_9 {top: 275px; left: 439px;}
#x_10 {top: 210.2px; left: 791px;}
#x_11 {top: 275px; left: 769px;}
#x_12 {top: 511.4px; left: 3px;}
#x_13 {top: 571px; left: -1px;}
#x_14 {top: 508.4px; left: 401px;}
#x_15 {top: 597px; left: 374px;}
#x_16 {top: 510.2px; left: 795px;}
#x_17 {top: 581px; left: 772px;}
#x_18 {top: 792.8px; left: 7px;}
#x_19 {top: 856px; left: -2px;}
#x_20 {top: 857px; left: 243px;}
#x_21 {top: 820px; left: 511px;}
#x_22 {top: 887px; left: 489px;}
#x_23 {top: 787.2px; left: 886px;}
#x_24 {top: 849px; left: 902px;}
#x_25 {top: 1151.8px; left: 508px;}
#x_27 {top: 1227px; left: -2px;}
#x_28 {top: 1226px; left: 304px;}
#x_29 {top: 1226px; left: 611px;}
#x_30 {top: 1227px; left: 919px;}
#x_31 {top: 1469.2px; left: 26px;}
#x_32 {top: 1532px; left: 12px;}
#x_33 {top: 1468.8px; left: 338px;}
#x_34 {top: 1534px; left: 296px;}
#x_35 {top: 1468.2px; left: 730px;}
#x_36 {top: 1536px; left: 676px;}
#x_37 {top: 1466.8px; left: 1018px;}
#x_38 {top: 1526px; left: 986px;}
#x_39 {top: 1868.8px; left: 28px;}
#x_40 {top: 1938px; left: 18px;}
#x_41 {top: 1868.8px; left: 402px;}
#x_42 {top: 1939px; left: 330px;}
#x_43 {top: 1866.2px; left: 679px;}
#x_44 {top: 1941px; left: 640px;}
#x_45 {top: 1867.2px; left: 1025px;}
#x_46 {top: 1937px; left: 951px;}
#x_47 {top: 2227.6px; left: 291px;}
#x_48 {top: 2306px; left: 22px;}
#x_49 {top: 2307px; left: 329px;}
#x_50 {top: 2227.8px; left: 684px;}
#x_51 {top: 2308px; left: 635px;}
#x_52 {top: 2228.2px; left: 971px;}
#x_53 {top: 2308px; left: 936px;}
#x_54 {top: 2672.4px; left: 14px;}
#x_55 {top: 2752px; left: 16px;}
#x_56 {top: 2671.6px; left: 456px;}
#x_57 {top: 2750px; left: 428px;}
#x_60 {top: 2672px; left: 933px;}
#x_61 {top: 2750px; left: 893px;}
#x_62 {top: 3047.2px; left: 12px;}
#x_63_1 {top: 3115px; left: 12px;}
#x_63_2 {top: 3114px; left: 227px;}
#x_65 {top: 3045.8px; left: 538px;}
#x_64 {top: 3113px; left: 542px;}
#x_67 {top: 3046px; left: 917px;}
#x_68 {top: 3115px; left: 893px;}
#x_69 {top: 3542px; left: 20px;}
#x_70 {top: 3464.2px; left: 445px;}
#x_71 {top: 3537px; left: 353px;}
#x_73 {top: 3537px; left: 661px;}
#x_74 {top: 3454.6px; left: 944px;}
#x_75 {top: 3557px; left: 899px;}
#x_76 {top: 3842.8px; left: 97px;}
#x_77 {top: 3940px; left: 18px;}
#x_78 {top: 3844.2px; left: 406px;}
#x_79 {top: 3940px; left: 330px;}
#x_80 {top: 3847.8px; left: 713px;}
#x_81 {top: 3913px; left: 669px;}
#x_82 {top: 3848.2px; left: 1021px;}
#x_83 {top: 3913.8px; left: 864px;}
#x_84 {top: 4323.6px; left: 14px;}
#x_85 {top: 4316.8px; left: 239px;}
#x_86 {top: 4315.8px; left: 561px;}
#x_87 {top: 4315.8px; left: 864px;}
#x_88 {top: 4616.8px; left: 30px;}
#x_89 {top: 4591.2px; left: 414px;}
#x_90 {top: 4654.8px; left: 380px;}
#x_91_1 {top: 4586px; left: 736px;}
#x_91_2 {top: 4630px; left: 732px;}
#x_91_3 {top: 4674px; left: 733px;}
#x_91_4 {top: 4713px; left: 732px;}
#x_91_5 {top: 4754px; left: 731px;}
#x_92 {top: 4593.8px; left: 865px;}
#x_93 {top: 4861.2px; left: 214px;}
#x_94 {top: 4914.8px; left: 84px;}
#x_95 {top: 4914.8px; left: 373px;}
#x_96 {top: 4859.2px; left: 741px;}
#x_97 {top: 4914.8px; left: 733px;}
#x_98 {top: 5219.4px; left: 185px;}
#x_99 {top: 5274.8px; left: 31px;}
#x_100 {top: 5275.8px; left: 372px;}
#x_101 {top: 5217.2px; left: 844px;}
#x_102 {top: 5274.8px; left: 733px;}
#x_103 {top: 5592.8px; left: 302px;}
